In [72]:
import pandas as pd
import numpy as np

data1 = pd.read_csv("071a9bf4-29dc-4a10-96f4-1b995c88c20b.csv") #interacted 1, vaja 0-id tekitada, DONE
data2 = pd.read_csv("433d73df-1cae-47ee-88b1-6f585eb32adc.csv") #weekly txs mainnet, nan -> 0, DONE
data3 = pd.read_csv("4cdb4b81-5b24-4ddc-be7c-4c4678145f51.csv") #DEX.TRADES_transactions txs, DONE
data4 = pd.read_csv("7bc89bae-41bb-4a82-8e02-c6f3934dc353.csv") #ENS, vaja ritta 0-id tekitada, DONE
data5 = pd.read_csv("b7f4f21d-0288-4482-af84-1f807d37b384.csv")

df = pd.concat([data1,data2,data3,data4,data5])
df.fillna(0,inplace=True)
df = df.drop(columns=['address'], axis = 1)

In [79]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

data_dum = pd.get_dummies(df)

train, test = train_test_split(data_dum, test_size=0.2)

X_train = train.drop(columns=['interacted'], axis=1) 
y_train = train["interacted"] 

X_val = test.drop(columns=['interacted'], axis=1)
y_val = test["interacted"]

rf = RandomForestClassifier(n_estimators = 100,max_depth = 8,random_state = 5).fit(X_train,y_train) 

probs = rf.predict_proba(X_val)
probs_df = pd.DataFrame(probs, columns=['0','1'])
probs_df

            0         1
0    1.000000  0.000000
1    1.000000  0.000000
2    0.999031  0.000969
3    1.000000  0.000000
4    1.000000  0.000000
..        ...       ...
940  1.000000  0.000000
941  0.999031  0.000969
942  1.000000  0.000000
943  1.000000  0.000000
944  1.000000  0.000000

[945 rows x 2 columns]